body{
    font-family: 'Pushster', cursive;
}
h1{
    font-size: 40px;
}
.color{
    color:brown;
}
section{
    display:flex


}
.half{
    width:50%;
    padding-left: 10%;
}
.half img{
    width: 70%;
}